{% extends 'actifind/base.html' %} 
{% load staticfiles %} 

{% block title_block %} 
    Add an activity 
{% endblock %}

{% block extra_head %}
  <script src="{% static 'js/add_activity.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&libraries=places&callback=initAutocomplete"
        async defer></script> 
{% endblock %}

{% block body_block %}

    <h1>Add an activity</h1>
    <div>
        <form id="category_form" method="post" action="/actifind/add_activity/">
            {% csrf_token %} {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} {% for field in form.visible_fields %}
            {{ field.errors }} {{ field.help_text }} {{ field }}
            <br/> {% endfor %}

            <iframe id="iframemaps" width="600" height="450" frameborder="0" style="border:0" allowfullscreen hidden>
            </iframe>
            <br/>

            <input type="submit" name="submit" value="Create Activity" />
        </form>
    </div>

    <!-- Set variables; static javascript doesn't have access to template variables-->
    <script>
        var GOOGLE_MAPS_KEY = "{{ GOOGLE_MAPS_KEY }}";
    </script>
{% endblock %}