{% extends 'actifind/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Add a review
{% endblock %}

{% block body_block %}

        {% if category %}
    <h1>Add a Review to {{activity.name}}</h1>

    <form id="page_form" method="post" action="/actifind/activity/{{activity.slug}}/add_review/">
        {%csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
          {{ field.errors }}
          {{ field.help_text}}
          {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Add Review" />
      </form>

          {% else %}
              The specified activity does not exist!
          {% endif %}
{% endblock %}
