{% extends 'actifind/base.html' %} 
{% load staticfiles %} 

{% block title_block %} 
    Add an activity 
{% endblock %}

{% block extra_head %}
    <script src="{% static 'js/add_activity.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/add_activity.css' %}"></link>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&libraries=places&callback=initAutocomplete"
        async defer></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/taggle/1.13.0/taggle.min.js"></script>
{% endblock %}

{% block body_block %}

    <h1>Add an activity</h1>
    <div>
        <form id="category_form" method="post" action="/actifind/add_activity/">
            {% csrf_token %} {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} {% for field in form.visible_fields %}
            {{ field.errors }} {{ field.help_text }} {{ field }}
            <br/> {% endfor %}

            <iframe id="iframemaps" width="600" height="450" frameborder="0" style="border:0" allowfullscreen hidden>
            </iframe>
            <br/>

            <p>Please enter activity tags:</p>
            <div id="tags-field">
            </div>

            <input type="text" name="tags-string" id="tags-string" hidden/>
            
            <input type="submit" name="submit" value="Create Activity" />
        </form>
    </div>

    <!-- Set variables; static javascript doesn't have access to template variables-->
    <script>
        var GOOGLE_MAPS_KEY = "{{ GOOGLE_MAPS_KEY }}";
    </script>
{% endblock %}