{% extends 'actifind/base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block title_block %}

{% endblock %}

{% block body_block %}
    <div>
        <h1 class="page-header text-center">Discover Your Day</h1>
        <div>
            <h2>
                Search Boxes
                <!-- search boxes -->
            </h2>
            <h3>
                OR
            </h3>
            <h4>
                <!-- Create a review -->
            </h4>
        </div>

        <div>
            <h5>
                Featured
            </h5>
        </div>
        <div>
        {% if activities %}
      <ul>
        {% for category in categories %}
          <li>
            <a href="{% url 'show_activity' activity.slug %}">{{ activity.name }}</a>
          </li>
        {% endfor %}
      </ul>
        {% else %}
          <strong>There are no activities present.</strong>
        {% endif %}
      </div>
      <div>




            <!-- Pictures of user photos  -->
      </div>

    </div>
{% endblock %}
