{% extends 'actifind/base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

{% endblock %}


{% block title_block %}

{% endblock %}

{% block body_block %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}
{#    {% for activity in activity_list %}#}
{##}
{#    {% empty %}#}
{#        <div class="no-activity">No activity yet!</div>#}
{#    {% endfor %}#}

    <div>
        <h1 class="page-header text-center">Discover Your Day</h1>
        <div>
            <h5>
                Search Activities:
            </h5>
            <!-- search boxes -->
            <form role="search" method="get" id="searchform" action="{% url 'search' %}">

            <input type="search" name="q" placeholder="Search" required>
            <button type="submit"><span class="ion-ios-search-strong"></span></button>
            </form>


            <h3>
                Activity:
            </h3>
            <h4>
                <!-- Create a review -->
            </h4>
        </div>

        <div>
            <h5>
                Featured
            </h5>
        </div>
        <div>
        {% if activities %}
      <ul>
        {% for category in categories %}
          <li>
            <a href="{% url 'show_activity' activity.slug %}">{{ activity.name }}</a>
          </li>
        {% endfor %}
      </ul>
        {% else %}
          <strong>There are no activities present.</strong>
        {% endif %}
      </div>
      <div>




            <!-- Pictures of user photos  -->
      </div>

    </div>
{% endblock %}
