{% extends 'actifind/base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/activity.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block title %}
    Profile
{% endblock %}

{% block body_block %}
    <br/>
    <div>

    {% if userprofile.picture %}
        <div>
        <img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
             width="300"
             height="300"
             alt="{{ selecteduser.username }}"/>
        </div>
    {% else %}
        <div>
        <p class="no-pictures">You haven't uploaded a profile photo yet</p>
        </div>
    {% endif %}
    </div>

    <div class="profile-text">
        <h1 class="profile-name">Username: {{ selecteduser.username }} </h1>
        <br/>
        <span class="profile-name">Email Address: {{ selecteduser.email }} </span>
    </div>
    <br/>
    <div class="text-center">
        <a href="{% url 'show_my_reviews' %}" class="btn btn-primary center">My reviews</a><br/>
    </div>
    <br/>


    <br/>
    <div class="container">
        {% if selecteduser.username == user.username %}
            <p class="text-center">Update Profile Photo</p>
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update"/>
            </form>
            <br/>
            <br/>

        {% endif %} </div>
    <div id="edit_profile"></div>
{% endblock %}