{%  extends 'actifind/base.html' %}
<!-- Extension of base, which needs a folder to locate? -->
{% load staticfiles %}

{% block title_block %}
    Register Page
{% endblock %}

{%  block body_block %}
<div>
    <h1>Register an account</h1>
       <!-- Previous search bar -->

    <div>
        <h2>
            Box with forms
                -Username
                -Email
                -Password

            Create account button
            <!-- Maps API + Search results-->
        </h2>
            OR
        <h3>
            Continue with facebook link - API
        </h3>
         <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
            Pictures
        <!-- Pictures of user photos  -->
    </div>

    Already have an account? - Login

</div>
{% endblock %}
