{%  extends 'actifind/base.html' %}
<!-- Extension of base, which needs a folder to locate? -->
{% load staticfiles %}

{% block title_block %}
    Photography Page
{% endblock %}

<div>
    <h1>Discover Your Day</h1>
       <!-- Previous search bar -->
        Search bar
    <div>
        <h2>
            Maps API on side
            <!-- Maps API + Search results-->
        </h2>

        <h3>
            Below maps, info on what the user selected
        </h3>

        <h4>
            User uploaded photo or gallery - with buttons for navigation
        </h4>

        <h5>
            Review section with most recent 3 reviews first
        </h5>
            Pictures
        <!-- Pictures of user photos  -->
    </div>

    Writing new review, pop up form?

</div>
{% endblock %}
