<!DOCTYPE html>

<!-- Loading static files and template tage -->

<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>ActiFind -
        {% block title_block %}
            Discover Your Day
        {% endblock %}
    </title>
</head>
    <!-- Search bars? -->
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>

        <div>
            <!-- Featured/Pictures -->
        </div>

        <div>
             <!-- Important URL links at the bottom of the page -->
        </div>

    </body>

</html>
